.banner-img {
  background-color: blueviolet;
  background-image: url("/claustromudejar.jpg");
  width: 100vw;
  height: calc(100vh - 66px); /* Full viewport height minus header height */
  background-size: cover;
}

@media (max-width: 768px) {
  .banner-img {
    height: calc(100vh - 56px); /* Full viewport height minus header height */
  }
}
