.banner-img {
  background: linear-gradient(
      rgba(161, 172, 132, 1),
      rgba(161, 172, 132, 0.97),
      rgba(161, 172, 132, 0.95),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(252, 244, 230, 0),
      rgba(252, 244, 230, 1)
    ),
    url("/japo.jpeg");
  width: 100vw;
  /* height: calc(100vh - 66px); */
  /* Full viewport height minus header height */
  height: 100vh;
  background-size: cover;
  background-position: center center;
  /* Horizontally and vertically center */
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

@media (max-width: 768px) {
  .banner-img {
    /* height: calc(100vh - 56px); */
    /* Full viewport height minus header height */
    height: 100vh;
  }
}
