header {
  /* background-color: var(--color-dark-green); */
  background-image: url("/vietnam.jpeg");
  background-position: center top; /* Horizontally and vertically center */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black; /* Text color */
  z-index: 1000; /* Ensure the header stays above other content */
  height: 66px;
  padding: 0 16px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/* Adjust for smaller screens (mobile) */
@media (max-width: 768px) {
  header {
    height: 56px;
    padding: 0 11px;
  }
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
