header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black; /* Text color */
    z-index: 1000; /* Ensure the header stays above other content */
}

.header-div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}