:root {
  --color-dark-green: #667665; /* Store the color in a variable */
  --color-light-green: #9eb1a5; /* Store the color in a variable */
  --color-olive: #88885a; /* Store the color in a variable */
  --color-salmon: #ebcca3; /* Store the color in a variable */
  --color-sand: #d0c8be; /* Store the color in a variable */
  --color-gray: #dadeea;
}

body {
  margin: 0;
  background: #a1ac84;
  display: flex;
  font-family: Cormorant Garamond, Garamond, Times New Roman, serif;
  /* font-family: Courier, monospace; */
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth; /* Smooth scrolling */
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  /*padding-top: 70px; */
}

/* @media (max-width: 768px) {
  main {
    padding-top: 56px;
  }
} */
